* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: auto .2em;
}

h1 {
	margin-top: 1em;
	margin-bottom: 2em;
	text-align: center;
	font-size: 3em;
}

section {
  position: relative;
  margin: .3em;
  border: .1em solid black;
  background-color: gray;
}

p.title {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 35%;
  border: .1em solid black;
  text-align: center;
  font-size: 1.25em;
}

#title1 {
  background-color: bisque;
}

#title2 {
  background-color: burlywood;
}

#title3 {
  background-color: coral;
}

p.content {
  margin-top: 1.25em;
  padding: 1em;
}

.row {
  width: 100%
}

/********** Desktop devices **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Tablet devices **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Mobile devices **********/
@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
    float: left;
  }
}